/* ========== VARIABLES ========== */

:root {
    /* COLORS */
    --background-color: #dfe7ef;
    --player-background-color: #eef3f7;
    --player-control-item-color: #acb8cc;
    --player-control-item-hover-color: #532ab9;
    --progress-duration-color: #71829e;
    --progress-time-color: var(--progress-duration-color);
    --progress-bar-background-color: #d0d8e6;
    --progress-current-background-color: #a3b3ce;
    --album-info-color: var(--progress-duration-color);
    --youtube-button-background-color: #24292e;
    --scrollbar-thumb-background-color: var(--progress-duration-color);
    --scrollbar-thumb-hover-background-color: var(--progress-current-background-color);
    --scrollbar-track-background-color: var(--background-color);
    --color-white: white;
    /* TypoGraphy */
    --body-font: 'Bitter', serif;
}

/* ========== BASE ========== */

body {
    background: var(--background-color);
    font-family: var(--body-font);
}

* {
    box-sizing: border-box;
}

/* ========== LAYOUT ========== */

/* ========== PLAYER TOP ========== */

/* ========== PLAYER COVER ========== */

/* ========== PLAYER CONTROL ========== */

/* ========== V CLOAK ========== */

/* ========== PROGRESS ========== */

/* ========== ALBUM ========== */

/* ========== YOUTUBE BUTTON ========== */

/* ========== SCROLL-BAR ========== */

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

/* SCROLLBAR THUMB */

::-webkit-scrollbar-thumb {
    background: #71829e;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* SCROLLBAR TRACK */

::-webkit-scrollbar-track {
    background: #dfe7ef;
}

/* SCROLLBAR THUMB : HOVER */

::-webkit-scrollbar-thumb:hover {
    background: #a3b3ce;
}
